.about{
    width:100%;
    margin:3rem;
    display: flex;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    grid-gap :40px;
    flex-wrap: wrap;
    height:100%;
}

.left{
    width:100%;
    max-width: 800px;
    padding:1rem;
    
}

.skill-name{
    font-size: 20px;
    font-weight: 700;
    color:azure;
    text-transform: uppercase;
    margin: 20px 0;
}

.skillbar{

    height: 14px;
    background:black;
    border-radius: 3px;
}

.skillper{
    height: 14px;
    background:rgb(230, 18, 124);
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1;
}

.left h1{
    text-align: center;
    color:rgb(237, 240, 123);
    padding-top: 10px;
}

.skillper::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right:0;
    transform: translate(50%);
}

.skillper::after{
    content: "";
    position: absolute;
    width:10px;
    height:14px;
    background: whitesmoke;
    top:-20px;
    right: 0;
    transform: translate(50%) rotate(45deg);
    border-radius: 2px;

}

@keyframes fillBars{
    from{
        width:0;
    }
    to{
        width:100% ;
    }
}


